* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.1fr 2fr;
  /* gap: 10px; */
}

.main-container-child {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.5fr;
  grid-template-rows: 0.1fr 1fr;
  /* gap: 10px; */
}

.main-container-inner-child {
  border: 1px solid #000;
}

.left-sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
}

.top-navbar {
  grid-column: 2/4;
  grid-row: 1/2;
}

/* Top Headder CSS */

.top-right-headder img {
  border-radius: 50%;
}

.parent-headder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(90, 90, 211);
}

.top-hedder {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head-search {
  width: 600px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  text-align: start;
  font-weight: bold;
}

/* Left Sidebar Css */

.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: start;
  padding-bottom: 180px;
}

.left-sidebar-element {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.left-sidebar :hover {
  background-color: rgb(204, 203, 202);
}

/* Style Mid Content  */

.mid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 20px 5px;
  gap: 2px;
}

.mid-content-child {
  border: 1px solid #000;
  border-radius: 1%;
  display: flex;
  justify-content: start;
  align-items: end;
  font-weight: bold;
  padding: 20px;
}

.mid-content-child img {
  margin-left: 10px;
}

.mid-content-child:hover {
  cursor: pointer;
  background: #a3a0a0;
}

/* style top Navbar */

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.top-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.live-time {
  font-weight: bold;
}

.nav-horizontel {
  height: 50px;
  border: 1px solid #000;
}

.top-nav-right-child {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.top-nav-right-child:hover {
  cursor: pointer;
  color: blue;
}

.top-nav-left-child:hover {
  cursor: pointer;
  color: blue;
}

.top-navbar button {
  border: none;
  padding: 15px;
  background-color: white;
}

/* Right Sidebar Style */

.right-sidebar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.2fr 2fr;
}

.right-sidebar-child {
  border: 1px solid #000;
}

.right-sidebar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  background: #141414;
  color: white;
}

.right-sidebar-top:hover {
  /* cursor: pointer; */
  background: #0e0c0c;
}

.right-sidebar-child {
  display: flex;
  flex-direction: column;
}

.right-sidebar-message {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
}

.right-sidebar-message-image {
  border-radius: 50%;
}

.right-sidebar-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  padding-left: 10px;
  gap: 5px;
}

.right-sidebar-message p {
  padding-left: 80px;
  font-weight: bold;
}

.sidebar-message {
  display: flex;
  gap: -5px;
  justify-content: center;
  align-items: center;
}

.sidebar-message span {
  background: #c5c3c3;
  padding: 10px;
  border-radius: 2%;
}

.right-sidebar-message:hover {
  cursor: pointer;
  background: #a3a0a0;
}
